body, html {
    margin: 0;
    font-family: Ubuntu, Sans-Serif;
    color: #333;
    letter-spacing: 1px;
}

.logo {
    width: 100px;
    padding: 10px;
    border: 5px solid #fff;

    color: #fff;
    font-size: 36px;
    line-height: 32px;
}

.u-text-center {
    text-align: center;
}

.loaf-image {
    position: relative;
    height: calc(100vh - 80px);
    padding: 15px;

    background-image: url(/static/images/loaf0_0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: inset 0 -2px 10px 0 rgba(50, 50, 50, 0.5);
}

.loaf-image_arrow-down {
    position: absolute;
    left: calc(50% - 25px);
    bottom: -25px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    background-color: #fff;
    background-image: url(/static/icons/arrow_down.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center center;
}

.loaf-description {
    padding: 60px 0;
}

.loaf-name {
    position: relative;
    margin: 10px 0;

    font-size: 38px;
    font-weight: 400;
    letter-spacing: 2px; 
}

.loaf-name_icon {
    vertical-align: middle;
    width: 64px;
	margin-right: 10px;
}

.loaf-baker {
    color: #aaa;
    font-size: 24px;
    font-weight: 400;
}

.loaf-baker_icon {
    vertical-align: bottom;
    margin-right: 5px;
    width: 32px;
}

.content-container {
    width: 900px;
    margin: 0 auto;
}

.content-section {
    display: flex;
    margin: 20px 0;
}

.content-section_icon-container {
    flex: none;
    width: 60px;
}

.content-section_icon {
	width: 42px;
}

.content-section_description {
}

.content-section_description_title {
	margin-top: 12px;
}

.ingredient-list {
	list-style-type: none;
	padding: 10px 0;
}

.ingredient {
	display: flex;
	align-items: center;	
	padding: 5px 0;	
}

.ingredient_icon {
	flex: none;
	width: 40px;
	height: 30px;

    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center left;
}

.ingredient_icon--flour {
    background-image: url(/static/icons/wheat.svg);
}

.ingredient_icon--water {
    background-image: url(/static/icons/drop.svg);
}

.ingredient_icon--yeast {
    background-image: url(/static/icons/yeast.svg);
}

.ingredient_icon--salt {
    background-image: url(/static/icons/salt.svg);
}

.ingredient_icon--nuts {
	background-image: url(/static/icons/hazelnut.svg);
}

.ingredient_name {
	width: 200px;
}

.ingredient_amount {
	display: flex;
	align-content: flex-start;
	align-items: center;
}

.ingredient_amount_text {
	flex: none;
	width: 80px;
}

.ingredient_amount_pictogram {
	height: 30px;
	background-size: 20px;
    background-repeat: repeat-x;
    background-position: center left;
}

.cups {
	background-image: url(/static/icons/glass.svg);
}

.cups-1 {
	width: 20px;
}

.cups-3 {
	width: 60px;
}

.tsp {
	background-image: url(/static/icons/spoon.svg);
}

.tsp-1 {
	width: 20px;
}
