<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Loaf 0 - bread.porn</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loaf.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pt_sans.css') }}">
    </head>
    <body>
        <div class="loaf-image">
            <div class="logo">
                bread<br>porn
            </div>
        </div>
        <div class="loaf-description content-container">
            <h1 class="loaf-title">
                <img class="loaf-title_icon" src="{{ url_for('static', filename='icons/baguettes.png') }}">
                Traditional Baguette

                <span class="loaf-title_baker">
                    by <img class="loaf-title_baker_icon" src="{{ url_for('static', filename='icons/chef-small.png') }}">Mathieu
                </span>
            </h1>

            <div class="content-section">
                <div class="content-section_icon">
                    <img src="{{ url_for('static', filename='icons/wheat-flour.png') }}">
                </div>
                <div class="content-section_description">
                </div>
            </div>

            <div class="content-section">
                <div class="content-section_icon">
                    <img src="{{ url_for('static', filename='icons/clockwise-rotation.png') }}">
                </div>
                <div class="content-section_description">
                </div>
            </div>
        </div>
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </body>
</html>
